body{
    background-color: azure;
}

.use-keyboard-input {
    background: #0000000e;
    text-align: center;
    border:  #b5fbff;
    border-radius: 5%;
    margin: 0 auto;
    width: 40%;
    height: 300px;
    margin-left: 30%;
}

.keyboard {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background: #ffe46b;
    box-shadow: 0 0 50px rgba(255, 174, 0, 0.548);
    user-select: none;
    transition: bottom 0.4s;
}

.keyboard__keys {
    text-align: center;
}

.keyboard__key {
    height: 45px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgba(255, 255, 255, 0.404);
    color: #000000;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.keyboard__key:active, .keyboard__key.active {
    background: rgba(255, 255, 255, 0.041);
    transition: all 0.5s ease;
}
.keyboard__key:hover, .keyboard__key--active{
    background: rgba(31, 209, 75, 0.12);
    transition: all 0.5s ease;
}

.keyboard__key--wide {
    width: 12%;
}

.keyboard__key--extra-wide {
    width: 36%;
    max-width: 500px;
}

.keyboard__key--activatable::after {
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.keyboard__key--dark {
    background: rgba(0, 0, 0, 0.25);
}
